/*------------------ colors ------------------------*/
.bg-color-header {
    background-color: #492a0b;
}

.bg-color-footer {
    background-color: #492a0b;
}

/*------------------ header ------------------------*/
header {
    color: #fce5cd;
}

/*------------------ footer ------------------------*/
footer {
    color: #fce5cd;
}